<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.transwarp.demo.service.dao.primary.UserInfoDb1Dao">

    <insert id="register" parameterType="com.transwarp.demo.dto.RegiserUserInfoReqDto">
        INSERT INTO T_USER_INFO(USER_NAME,PSW,REAL_NAME,AGE) VALUES(
                #{userName},#{psw},#{realName},#{age}
        )
    </insert>
    
</mapper>
